@font-face{
    font-family:'nunito';
    font-weight: 100;
    src: url(assets/font/Nunito-Regular.woff2) format(woff2),
         url(assets/font/Nunito-Regular.woff) format(woff);
}
@font-face{
    font-family:'nunito';
    font-weight: bold;
    src: url(assets/font/Nunito-Bold.woff2) format(woff2),
         url(assets/font/Nunito-Bold.woff2) format(woff);
}
:root{
    --font-normal: nuito;
}
.light{
    --text-color: black;
    --main-brand-color: #ffcd42;
    --secondary-brand-color: #fab700;
    --border-color: black;
    --background-color: white;
    --secondary-background-color: rgb(238, 239, 198);
    --menu-background-color: whitesmoke;  
}
.dark{
    --text-color: white;
    --main-brand-color: rgb(179, 0, 0);
    --secondary-brand-color: rgb(125, 0, 0);
    --border-color: black;
    --background-color: #202020;
    --secondary-background-color: #303030;
    --menu-background-color: #404040;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
    padding:0;
}
h1, h2, h3{
    font-family: var(--font-normal), sans-serif;
    font-weight: bold;
    color: var(--text-color);
}
p, span, a, li, label, input{
    font-family: var(--font-normal), sans-serif;
    font-weight: 100;
    color: var(--text-color);
}
body{
    
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    background-color: var(--background-color);
}
nav{
    width: 100%;
}
a{
    text-decoration: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 100px;
    position: relative;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{
    text-align: center;
    padding: 30px 0;
    background-color: var(--main-brand-color);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
