@font-face{
    font-family:'nunito';
    font-weight: 100;
    src: url(assets/font/Nunito-Regular.woff2) format(woff2),
         url(assets/font/Nunito-Regular.woff) format(woff);
}
@font-face{
    font-family:'nunito';
    font-weight: bold;
    src: url(assets/font/Nunito-Bold.woff2) format(woff2),
         url(assets/font/Nunito-Bold.woff2) format(woff);
}
:root{
    --font-normal: nuito;
}
.light{
    --text-color: black;
    --main-brand-color: aqua;
    --secondary-brand-color: aquamarine;
    --border-color: black;
    --background-color: white;
    --secondary-background-color: white;
    --menu-background-color: antiquewhite;
}
.dark{
    --text-color: white;
    --main-brand-color: darkred;
    --secondary-brand-color: darkred;
    --border-color: black;
    --background-color: #202020;
    --secondary-background-color: #303030;
    --menu-background-color: #404040;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
    padding:0;
}
h1, h2, h3{
    font-family: var(--font-normal), sans-serif;
    font-weight: bold;
    color: var(--text-color);
}
p, span, a, li{
    font-family: var(--font-normal), sans-serif;
    font-weight: 100;
    color: var(--text-color);
}
body{
    height: 100vh;
    background-color: var(--background-color);
}

/*--------------------------------------------Header-----------------------------------------------------------*/
header{
    text-align: center;
    padding: 30px;
    background-color: var(--main-brand-color);
    position: sticky;
    top: 0;
    z-index: 1;
}
/*------------------------------------------MAIN--------------------------------------------------------------*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 60px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.question-card{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 40px 0 0 0;
    border: solid var(--border-color) 3px;
    border-radius: 10px;
    background-color: var(--secondary-background-color);
}
.question-bookmark-checkbox {
    display: none; 
}
.question-bookmark-label {
    position: absolute;
    top: -24px;
    right: 15px;
    width: 48px;
    height: 48px;
    background-image: url('assets/icons/bookmark_border_black.svg'); 
    background-size: cover;
    cursor: pointer;
    display: inline-block;
}
.bookmark-checked {
    background-image: url('assets/icons/bookmark_black.svg'); 
}
.question-text{
    margin: 20px;
    text-align: center;
}
.question-show-answer{
    padding: 10px;
    border-radius: 5px;
}
.question-categories-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}
.question-category{
    margin: 10px 0 10px 10px;
    padding: 5px;
    border: solid var(--border-color) 2px;
    border-radius: 10px;
    background-color: var(--background-color);
}
/*------------------------------------------FOOTER--------------------------------------------------------------*/
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-backkground-color);
}
nav{
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    background-color: var(--background-color);
}
a{
    text-decoration: none;
}
.menu-item {
    width: 100%;
    text-align: center;
    background-color: var(--menu-background-color);
}
.activ-menu{
    background-color: var(--secondary-brand-color);
}
/*------------------------------------------PROFILE-PAGE--------------------------------------------------------------*/
.profile-person{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.profile-person img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid var(--border-color) 2px;
    margin: 10px;
}
.profile-about{
    padding: 20px;
}
.profile-about h2{
    margin-bottom:  10px;
}
.profile-counter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.counter{
    padding: 5px;
    border-radius: 10px;
    border: solid var(--border-color) 2px;
    display: flex;
    align-items: center;
    background-color: var(--secondary-background-color);
}
.profile-counter img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.profile-settings{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 90%;
    padding-top: 10px;
}
.profile-dark-mode{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*------------------------------------------Toggle Button--------------------------------------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-color);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
} 