:root{
    --text-color: black;
    --main-brand-color: aqua;
    --secondary-brand-color: aquamarine;
    --border-color: black;
    --baground-color: white;
    --secondary-baground-color: white;

    --font-normal: nuito;
}