:root{
    --text-color: white;
    --main-brand-color: darkred;
    --secondary-brand-color: darkred;
    --border-color: black;
    --background-color: #202020;
    --secondary-background-color: #303030;
    --menu-background-color: #404040;

    --font-normal: nuito;
}