.profileWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw);
    height: calc(100vh - 162px);
}
.profileSection{
    max-width: 800px;
    width: 90vw;
    border: 3px solid var(--border-color);
    border-radius: 10px;
    margin-top: 10px;
    background-color: var(--secondary-background-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (min--width: 800px) {
    .profileSection{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
}
.profile-person{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.profile-person img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid var(--border-color) 2px;
    margin: 10px;
}
.profile-about{
    padding: 20px;
}
.profile-about h2{
    margin-bottom:  10px;
}
.profile-counter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.counter{
    padding: 5px;
    border-radius: 10px;
    border: solid var(--border-color) 2px;
    display: flex;
    align-items: center;
    background-color: var(--secondary-background-color);
}
.profile-counter img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.profile-settings{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 90%;
    padding-top: 10px;
}
.profile-dark-mode{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}