.profileWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw);
    height: calc(100vh - 162px);
}
.profileSection{
    max-width: 800px;
    width: 90vw;
    border: 3px solid var(--border-color);
    border-radius: 10px;
    margin-top: 10px;
    background-color: var(--secondary-background-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (min--width: 800px) {
    .profileSection{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
}
.profile-person{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.profilePersonIcon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid var(--border-color) 2px;
    margin: 10px;
    background-size: cover;
    background-position: center center;
}
.light main div section div .profilePersonIcon{
    background-image: url('../../assets/icons/person_black.svg');
}
.dark main div section div .profilePersonIcon{
    background-image: url('../../assets/icons/person_white.svg');
}
.profile-person img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid var(--border-color) 2px;
    margin: 10px;
}
.profile-about{
    padding: 20px;
}
.profile-about h2{
    margin-bottom:  10px;
}
.profile-counter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.counter{
    padding: 5px;
    border-radius: 10px;
    border: solid var(--border-color) 2px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--secondary-background-color);
    height: 35px;
    width: 75px;
    position: relative;
    font-size: 1.3rem;
}
.counterIcon{
    position: absolute;
    left: 5px;
    top: 2px;
    width: 40px;
    height: 40px;
    background-size: cover;
}
.light main div section div span .profileCounterQuestion{
    background-image: url('../../assets/icons/help_outline_black.svg');  
}
.dark main div section div span .profileCounterQuestion{
    background-image: url('../../assets/icons/help_outline_white.svg');  
}
.light main div section div span .profileCounterBookmark{
    background-image: url('../../assets/icons/bookmark_border_black.svg');     
}
.dark main div section div span .profileCounterBookmark{
    background-image: url('../../assets/icons/bookmark_border_white.svg');     
}
.profile-counter img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.profile-settings{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 90%;
    padding-top: 10px;
}
.profile-settings-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.profileButton{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    color: var(--text-color);
    font-size: 1rem;
    transition: 0.5s;
    transform: scale(1);
}
.profileButton:hover{
    background-color: var(--secondary-brand-color);
    transition: 0.5s;
    transform: scale(1.1);
}